### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Node ###
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS files
Thumbs.db
